:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}
p {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}

.hero h1 {
  font-size: 96px;

  line-height: 1.5;
}
.hero h2 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
}
.hero p {
  color: #272142;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.opacity {
  opacity: 0.7;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-family: "Poppins", sans-serif;
}
.btn:hover {
  background: var(--branding-color);
  color: white;
}
